<div class="container" align="center">
  <h1>About GiftSwap</h1>
  <p>GiftSwap was created to provide a user-friendly platform for groups of friends to exchange gifts for any occasion.</p>
</div>

<div class="container" align="center">
  <div class="row">
    <div class="col-sm">
      <div class="container">
  <h2>The Creators of GiftSwap</h2>
  <div class="card" align="center" style="width: 20rem;">
    <ul class="list-group list-group-flush" id="creators-list">
      <li class="list-group-item" align="center"><a href="https://github.com/aarias89">Andres Arias</a></li>
      <li class="list-group-item" align="center"><a href="https://github.com/thierrymoudiki">Thierry Moudiki</a></li>
      <li class="list-group-item" align="center"><a href="https://github.com/clr2107">Catherine Rice</a></li>
      <li class="list-group-item" align="center"><a href="https://github.com/davidtskaggs">David Skaggs</a></li>
    </ul>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
  <h2>Data</h2>
  <div class="card" align="center" style="width: 20rem;">
  <ul class="list-group list-group-flush" id="data-list">
    <li class="list-group-item" align="center"><a href="http://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html">Amazon Web Services</a></li>
</div>
</div>
</div>
</div>
<!-- <div class="container"> -->
<div class="container">
  <div class="row">
    <div class="col-sm">
<h2>Special Thanks</h2>
<div class="card" style="width: 20rem;">
<ul class="list-group list-group-flush" id="thanks-list">
  <li class="list-group-item" align="center">Phil Sofia</li>
  <li class="list-group-item" align="center">Iuliia Kotlenko</li>
  <li class="list-group-item" align="center">Sunny Israni</li>
  <li class="list-group-item" align="center">Pan Wangperawong</li>
</ul>
</div>
</div>
</div>
</div>
