<h1>About GiftSwap</h1>
<p>GiftSwap was created to provide a user-friendly platform for groups of friends to exchange gifts for any occasion.</p>

<h2>The Creators of GiftSwap</h2>
<ul id="creators-list">
  <li>Andres Arias</li>
  <li>Thierry Moudiki</li>
  <li>Catherine Rice</li>
  <li>David Skaggs</li>
</ul>

<h2>Data</h2>
<p><a href="http://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html"> Amazon</a></p>

<h2>Special Thanks</h2>
<ul id="creators-list">
  <li>Phil Sofia</li>
  <li>Iuliia Kotlenko</li>
  <li>Sunny Israni</li>
  <li>Pan Wangperawong</li>
</ul>