<div class="container">
  <h1>About GiftSwap</h1>
  <p>GiftSwap was created to provide a user-friendly platform for groups of friends to exchange gifts for any occasion.</p>
</div>
<div class="container">
  <h2>The Creators of GiftSwap</h2>
  <div class="card" style="width: 20rem;">
    <ul class="list-group list-group-flush" id="creators-list">
      <li class="list-group-item"><a href="https://github.com/aarias89">Andres Arias</a></li>
      <li class="list-group-item"><a href="https://github.com/thierrymoudiki">Thierry Moudiki</a></li>
      <li class="list-group-item"><a href="https://github.com/clr2107">Catherine Rice</a></li>
      <li class="list-group-item"><a href="https://github.com/davidtskaggs">David Skaggs</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <h2>Data</h2>

<p><a href="http://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html">Amazon Web Services</a></p>
</div>
<div class="container">
<h2>Special Thanks</h2>
<div class="card" style="width: 20rem;">
<ul class="list-group list-group-flush" id="creators-list">
  <li class="list-group-item">Phil Sofia</li>
  <li class="list-group-item">Iuliia Kotlenko</li>
  <li class="list-group-item">Sunny Israni</li>
  <li class="list-group-item">Pan Wangperawong</li>
</ul>
</div>
</div>
