<div id="giftshare">
  <h3 id="giftshare-title">Welcome to GiftSwap</h3>
  <p><i>Your platform for organized gift giving</i></p>
</div>

  <div id="carousel" class="carousel slide" data-ride="carousel" data-wrap="true">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active" ></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>


    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/santa.jpg?itok=l0G7LKuR" alt="santa">
        <div class="carousel-caption">
          <p>Secret Santa</p>
        </div>
      </div>

      <div class="item">
        <img src="https://images.fatherly.com/wp-content/uploads/2016/12/burning-xmas-tree.jpg" alt="birthday-presents">
        <div class="carousel-caption">
          <p>Christmas</p>
        </div>
      </div>

      <div class="item">
        <img src="https://www.listland.com/wp-content/uploads/2015/12/9-Crazy-Facts-for-the-9-Candles-of-Hanukkah.jpg" alt="hannukah">
        <div class="carousel-caption">
          <p>Hannukah</p>
        </div>
      </div>




    </div>
</div>
<div>
<h4>With GiftSwap, you can:</h4>
  <ul>
    <li>Create events and invite your friends</li>
    <li>Organize a Secret Santa gift exchange</li>
    <li>View your friends' wishlists</li>
    <li>Find gifts through retailers such as Amazon and eBay</li>
  </ul>
  <br />
  <br />
  <br />


