<div class="container" id="giftshare">
  <h3 id="giftshare-title">Welcome to GiftSwap</h3>
  <p><i>Your platform for organized gift giving</i></p>
</div>

  <div id="carousel" class="container carousel slide" data-ride="carousel" data-wrap="true">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active" ></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="http://learnenglishkids.britishcouncil.org/sites/kids/files/image/RS5227_Birthday%20Cake%20col-web.jpg" alt="birthday">
        <div class="carousel-caption">
          <p>Birthdays</p>
        </div>
      </div>

      <div class="item">
        <img src="http://images.clipartpanda.com/bribery-clipart-christmas_present_2.png" alt="christmas">
        <div class="carousel-caption">
          <p>Christmas</p>
        </div>
      </div>

      <div class="item">
        <img src="https://www.listland.com/wp-content/uploads/2015/12/9-Crazy-Facts-for-the-9-Candles-of-Hanukkah.jpg" alt="hannukah">
        <div class="carousel-caption">
          <p>Hannukah</p>
        </div>
      </div>
    </div>
</div>
<!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h4>With GiftSwap, you can:</h4>
        <ul>
          <li>Create events and invite your friends</li>
          <li>Organize a Secret Santa gift exchange</li>
          <li>View your friends' wishlists</li>
          <li>Find gifts through retailers such as Amazon</li>
        </ul>
      </div>
    </div>
  </div>-->
<br />
  <br />
  <br />
  <!-- </div> -->
  <div class="container">
  <div class="row">
    <div class="col-sm-6" align="center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Gift Exchanges Between Friends</h4>
          <p class="card-text">Organize a Secret Santa gift exchange</p>
          <p class="card-text">Create events and invite your friends</p>
          <a href="/events" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6" align="center">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create a Personal Wishlist</h4>
          <p class="card-text">Find gifts through retailers such as Amazon.</p>
          <p class="card-text">View your friends' wishlists.</p>
          <a href="/wishlists" class="btn btn-primary">Start your Wishlist</a>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
