<div style="width: 100%; overflow: hidden;">
    <div id="keyword-search" class="form-container" style="width: 600px; float: left;">
      <%= form_tag({ controller: "gifts", action: "search"}, method:"post", class: "form_stuff") do |form| %>
  <% if gift && gift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Search Gift by <b>keyword</b></p>

  <div class="field">
    Keyword:
    <%= text_field(:gifts, :keyword, id: 'gift_name') %>
  </div>

  <div class="actions">
      <input type='submit' class="create_gift" value="Search"/>
  </div>
<% end %>
</div>
</div>
