<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Sony-DSCW800-Digital-Camera-Black/dp/B00I8BIBCW?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00I8BIBCW">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41Huy05eJiL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Sony DSCW800/B 20.1 MP Digital Camera (Black)</h3>
    </div>
    <p class="product-price">$89.99<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B00I8BIBCW?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B00I8BIBCW"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Sony-DSCW800-Digital-Camera-Black/dp/B00I8BIBCW?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00I8BIBCW" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B076F7R5RN -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Wewdigi-EV4000-Waterproof-Camcorder-Accessories/dp/B076F7R5RN?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B076F7R5RN">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51MAuG2khHL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Wewdigi EV4000 Action Camera , 12MP 1080P 2 Inch LCD Screen , Waterproof Sports Cam 140 Degree Wide Angle Lens , 30m Sport Camera DV Camcorder With 9 Accessories Kit</h3>
    </div>
    <p class="product-price">$27.99<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B076F7R5RN?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B076F7R5RN"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Wewdigi-EV4000-Waterproof-Camcorder-Accessories/dp/B076F7R5RN?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B076F7R5RN" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B00W68DSWQ -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/International-Batteries-Accessory-HeroFiber-Cleaning/dp/B00W68DSWQ?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00W68DSWQ">
        <img src="https://images-na.ssl-images-amazon.com/images/I/61yFYo02UzL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Nikon COOLPIX L340 Digital Camera with 28x Zoom & Full HD Video (Black) International Version + 4 AA Batteries & Charger + 32GB Dlx Accessory Kit w/HeroFiber Cleaning Cloth</h3>
    </div>
    <p class="product-price">$263.81<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B00W68DSWQ?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B00W68DSWQ"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/International-Batteries-Accessory-HeroFiber-Cleaning/dp/B00W68DSWQ?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B00W68DSWQ" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B0721JY7LL -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Bonna-mega-pixels-Digital-Camera/dp/B0721JY7LL?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0721JY7LL">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51evb7Pp2lL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Bonna 21 mega pixels HD Digital Camera - Digital video camera - Students cameras - Students Camcorder - Handheld Sized Digital Camcorder Indoor Outdoor for Adult /Seniors / Kids (silver)</h3>
    </div>
    <p class="product-price">$37.00<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B0721JY7LL?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B0721JY7LL"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Bonna-mega-pixels-Digital-Camera/dp/B0721JY7LL?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0721JY7LL" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B0713Q69T1 -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Fujifilm-FLAMINGO-Accessories-Matching-Assorted/dp/B0713Q69T1?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0713Q69T1">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51I5%2BoLpOHL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Fujifilm Instax Mini 9 Instant Fuji Camera FLAMINGO PINK (NEW 2017 Release) + Accessories Bundle + Custom Matching Case + Photo Album + Assorted Frames + 4 Color Filters + 60 Sticker Frames + MORE</h3>
    </div>
    <p class="product-price">$89.43<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B0713Q69T1?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B0713Q69T1"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Fujifilm-FLAMINGO-Accessories-Matching-Assorted/dp/B0713Q69T1?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0713Q69T1" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B01HN40EBA -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Nikon-Coolpix-Digital-Certified-Refurbished/dp/B01HN40EBA?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01HN40EBA">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51sQgQv0u0L._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Nikon Coolpix L340 Digital Camera (Certified Refurbished)</h3>
    </div>
    <p class="product-price">$149.95<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B01HN40EBA?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B01HN40EBA"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Nikon-Coolpix-Digital-Certified-Refurbished/dp/B01HN40EBA?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01HN40EBA" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B072J4CBK6 -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/DBPOWER-Waterproof-Underwater-Camcorder-Accessories/dp/B072J4CBK6?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072J4CBK6">
        <img src="https://images-na.ssl-images-amazon.com/images/I/516%2B1XoG3JL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>DBPOWER EX5000 Action Camera , 14MP 1080P HD WiFi Waterproof Sports Cam 2 Inch LCD Screen , 170 Degree Wide Angle Lens , 98ft Underwater DV Camcorder With 16 Accessories Kits (A-Action camera)</h3>
    </div>
    <p class="product-price">$49.99<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B072J4CBK6?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B072J4CBK6"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/DBPOWER-Waterproof-Underwater-Camcorder-Accessories/dp/B072J4CBK6?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B072J4CBK6" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B0744GWQX1 -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Digital-Display-Black-Birthday-Christmas/dp/B0744GWQX1?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0744GWQX1">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51fr3KPsauL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>HD Mini Digital Camera with 2.7 Inch TFT LCD Display, Digital Video Camera Black-- Sports,Travel,Camping,Birthday&Christmas Gift</h3>
    </div>
    <p class="product-price">$43.88<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B0744GWQX1?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B0744GWQX1"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Digital-Display-Black-Birthday-Christmas/dp/B0744GWQX1?psc=1&SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B0744GWQX1" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B01KVIN26O -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/Cell-Phone-Camera-Lens-Professional/dp/B01KVIN26O?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01KVIN26O">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51FkmvNknYL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>Cell Phone Camera Lens - TURATA 2 in 1 Professional HD Camera Lens Kit 0.45X Super Wide Angle & 12.5X Macro Lens for iPhone 8 7 6s 6s plus 6 plus 5s & Most Smartphone, Tablet</h3>
    </div>
    <p class="product-price">$10.18<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B01KVIN26O?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B01KVIN26O"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/Cell-Phone-Camera-Lens-Professional/dp/B01KVIN26O?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B01KVIN26O" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<!-- HTML code for ASIN : B06XCB6Z7F -->
<div class="product-box">
    <a target="_blank" href="https://www.amazon.com/KINGEAR-inch-Mini-Digital-Camera/dp/B06XCB6Z7F?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B06XCB6Z7F">
        <img src="https://images-na.ssl-images-amazon.com/images/I/51GvzbMCiiL._SL160_.jpg" width="120" height="160">
    </a>
    <div class="product-title">
        <h3>KINGEAR 2.7 inch TFT LCD HD Mini Digital Camera</h3>
    </div>
    <p class="product-price">$43.99<br>
       <a target="_blank" style="color: #337ab7; text-decoration:none;" href="https://www.amazon.com/gp/offer-listing/B06XCB6Z7F?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=386001&creativeASIN=B06XCB6Z7F"> More offers </a>
   </p>
    <div>
        <span class="a-button a-button-primary">
            <a target="_blank" href="https://www.amazon.com/KINGEAR-inch-Mini-Digital-Camera/dp/B06XCB6Z7F?SubscriptionId=AKIAJVOLHHIC4TDYG5UQ&tag=aarias-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B06XCB6Z7F" style="text-decoration:none">
                <span class="a-button-inner">
                    <img src="http://webservices.amazon.com/scratchpad/assets/images/Amazon-Favicon-64x64.png" class="a-icon a-icon-shop-now">
                    <input class="a-button-input" type="submit" value="Add to cart">
                    <span class="a-button-text">Shop Now</span>
                </span>
            </a>
        </span>
    </div>
</div>
<style>
.product-box {
	border: 1px solid #eee;
	float: left;
	margin: 4px 4px 4px 4px;
	position: relative;
	width: 132px;
	padding: 4px;
	font-family: Helvetica;

}
.product-title h3{
	margin: 2px 3px 0 2px;
	min-width: 40px;
	font-size: 12px;
	line-height: 15px;
	color: #000;
	position: relative;
	text-align: center;
	display: block;
	overflow: hidden;
	height: 45px;
}

.product-price {
	text-align: center;
	color: #900;
	font-weight: bold;
}

.a-icon-cart {
	left: 2px;
	top: 2px;
	position: absolute;
	height: 25px;
	width: 25px;
	background-position: -35px -5px;
	background-image: url(../images/amzn-sprite.png);
	background-repeat: no-repeat;
	background-size: 400px 600px;
	-webkit-background-size: 400px 600px;
	display: inline-block;
	vertical-align: top;
}

.a-icon-shop-now {
	left: 2px;
	top: 2px;
	position: absolute;
	height: 25px;
	width: 25px;
	background: 0 0;
	display: inline-block;
	vertical-align: top;
}

.a-button {
	background: #d8dde6;
	display: block;
	padding: 0;
	vertical-align: middle;
	height: 31px;
	*height: 29px;
	border: 1px solid;
	border-color: #bcc1c8 #bababa #adb2bb;
	text-align: center;
	overflow: hidden;
	text-decoration: none!important;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
	max-width: 130px;
	box-sizing: border-box;
	margin-top: 11px;
}


.a-button-text {
	position: relative;
	z-index: 10;
	color: #111;
	font-size: 12px;
	text-align: center;
	line-height: 29px;
	display: block;
	font-family: Arial,sans-serif;
	white-space: nowrap;
	background-color: transparent;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 0 2px 0 29px;
}


.a-button-text.centered {
	padding: 0 2px;
}

.a-button-input {
	position: absolute;
	z-index: 20;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	outline: 0;
	border: 0;
	overflow: visible;
	cursor: pointer;
	opacity: .01;
	filter: alpha(opacity=1);
}


.a-button-primary {
	border-color: #cba957 #bf942a #aa8326;
	background: #f0c14b;
}

.a-button-primary:active {
	border-color: #aa8326 #bf942a #bf942a;
}

.a-button-primary:hover {
	border-color: #c59f43 #aa8326 #957321;
}

.a-button-primary:focus {
	outline: 0;
	border-color: #e47911;
	-webkit-box-shadow: 0 0 3px rgba(228,121,17,.5);
	-moz-box-shadow: 0 0 3px rgba(228,121,17,.5);
	box-shadow: 0 0 3px rgba(228,121,17,.5);
}

.a-button-inner {
	position: relative;
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	display: block;
}

.a-button-primary .a-button-inner {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
	background-color: #f7dfa5;
	background: -webkit-gradient(linear,left top,left bottom,from(#f7dfa5),to(#f0c14b));
	background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
	background: -moz-linear-gradient(top,#f7dfa5,#f0c14b);
	background: -ms-linear-gradient(top,#f7dfa5,#f0c14b);
	background: -o-linear-gradient(top,#f7dfa5,#f0c14b);
	background: #f3d078;
}

.lt-ie9 .a-button-primary .a-button-inner {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7dfa5', endColorstr='#fff0c14b', GradientType=0);
}

.a-button-primary:active .a-button-inner {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
	box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
	background-color: #f0c14b;
	background-image: none;
}

.lt-ie9 .a-button-primary:active .a-button-inner {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.a-button-primary:hover .a-button-inner {
	background-color: #f5d78e;
	background: -webkit-gradient(linear,left top,left bottom,from(#f5d78e),to(#eeb933));
	background: -webkit-linear-gradient(top,#f5d78e,#eeb933);
	background: -moz-linear-gradient(top,#f5d78e,#eeb933);
	background: -ms-linear-gradient(top,#f5d78e,#eeb933);
	background: -o-linear-gradient(top,#f5d78e,#eeb933);
	background: #f1c860;
}

.lt-ie9 .a-button-primary:hover .a-button-inner {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5d78e', endColorstr='#ffeeb933', GradientType=0);
}
</style>