<div id="giftshare">
<h3>Welcome to GiftShare</h3>
<p><i>Your platform for organized gift giving</i></p>
</div>
<h4>With GiftShare, you can:</h4>
<ul>
  <li>Create events and invite your friends</li>
  <li>Organize a Secret Santa gift exchange</li>
  <li>View your friend's wishlist</li>
  <li>Buy gifts through retailers such as Amazon and eBay</li>
</ul>
<div class="img-fluid" alt="Responsive image" id="gift">
<img src="http://themocracy.com/wp-content/uploads/2016/07/Gifts.jpg"/>
</div>
